---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import contentService, { computeDescription } from "../lib/ContentService";

interface Params {
  slug: string;
}

export async function getStaticPaths() {
  return (await contentService.getAllPages()).map((page) => {
    return {
      params: { slug: page.slug },
    };
  });
}

const { slug: pageSlug } = Astro.params as unknown as Params;

const page = await contentService.getPage(pageSlug);
---

<Layout
  description={computeDescription(page)}
  ogTitle={page.meta_title}
  openGraphImage={page.og_image || page.feature_image || undefined}
  openGraphAlt={page.feature_image_caption || undefined}
  canonicalUrl={page.canonical_url}
  pageType="narrow"
  title={page.title}>
  <Title>{page.title}</Title>
  <div class="prose lg:prose-lg mx-auto" set:html={page.html} />
</Layout>
