---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import ButtonLink from "../components/ButtonLink.astro";

interface Product {
  id: string;
  name: string;
  subheading: string;
  description: string;
  link: string;
}

const products: Product[] = [
  {
    id: "picperf",
    name: "PicPerf",
    subheading: "A picture should be worth a thousand words. Not kilobytes.",
    description:
      "PicPerf automatically optimizes, reformats, and aggressively caches your website's images just by prefixing the URLs you're already using. It's the easiest way to make a site's images load faster and lighter.",
    link: "https://picperf.io",
  },
  {
    id: "jamcomments",
    name: "JamComments",
    subheading: "A stupid-simple comment service for the Jamstack.",
    description:
      "A stupid-simple comment service built for static site generators like Gatsby, Eleventy, and NextJS. It was built out of dissatisfaction with other solutions that require you to load a bloated, invasive third-party script in order to render comments client-side.",
    link: "https://jamcomments.com",
  },
  {
    id: "typeit",
    name: "TypeIt",
    subheading: "The most versatile animated typing utility on the planet.",
    description:
      'The most versatile JavaScript library for creating typewriter effects. It started back in 2015 as a means of learning to write better JavaScript. Since then, it\'s gone through several evolutions is now one of my favorite "small" projects to maintain.',
    link: "https://typeitjs.com",
  },
];
---

<Layout title="Products" pageType="open">
  <Title>Products</Title>

  <div class="mb-12">
    <div class="mb-12">
      <p class="prose md:prose-lg max-w-none">
        Most often to scratch my own itch, I maintain a handful of digital
        products. Hope you find them useful too.
      </p>
    </div>

    <ul class="grid gap-8 grid-cols-1 md:grid-cols-2">
      {
        products.map((project) => {
          const link = project.link || "";

          return (
            <li class="card">
              <div class="mb-6">
                <h3 class="font-bold text-3xl mb-2">
                  <a href={link} target="_blank" rel="noreferrer">
                    {project.name}
                  </a>
                </h3>

                <small class="prose md:prose-lg max-w-none italic leading-none">
                  {project.subheading}
                </small>
              </div>

              <div class="mb-8">
                <p class="prose md:prose-lg max-w-none">
                  {project.description}
                </p>
              </div>

              {link && (
                <div class="mt-auto">
                  <ButtonLink
                    linkId={`${project.id}-link`}
                    href={link}
                    target="_blank"
                    asButton={true}
                    withArrow={true}>
                    {link.replace(/https:\/\//, "")}
                  </ButtonLink>
                </div>
              )}
            </li>
          );
        })
      }
    </ul>
  </div>
</Layout>
