---
import DateFormatter from './DateFormatter.astro';
import ViewCount from './ViewCount.astro';
import ButtonLink from './ButtonLink.astro';

const { posts } = Astro.props;
---

<ul class="space-y-10">
  {posts.map((post) => {
    return (
      <li>
        <article>
          <h2 class="text-2xl font-bold">
            <a href="">{post.title}</a>
          </h2>

          <div class="flex items-center mb-3 gap-3 text-base">
            {post.lastUpdated && (
              <>
                <DateFormatter
                  date={post.lastUpdated}
                  prettyDate={post.prettyLastUpdated}
                  className="inline-block"
                >
                  Updated on
                </DateFormatter>

                <small>/</small>
              </>
            )}

            <DateFormatter
              date={post.date}
              prettyDate={post.prettyDate}
              className="inline-block"
            >
              {post.lastUpdated && "Originally posted on"}
            </DateFormatter>

            {!post.externalUrl && <ViewCount
              slug={post.slug}
              disableAnimation={true}
            />}
          </div>

          <small class="block text-gray-500 mb-2">{post.description}</small>

          <ButtonLink href={`/posts/${post.slug}`} withArrow={true}>
            Read It
          </ButtonLink>
        </article>
      </li>
    );
  })}
</ul>
