---
import {
  computeDescription,
  extractHostFromUrl,
  extractUrlFromBookmark,
  isExternal,
} from "../lib/ContentService";
import ButtonLink from "./ButtonLink.astro";
import DateFormatter from "./DateFormatter.astro";
import type { CustomPostsOrPages } from "../types/types";

interface Props {
  posts: CustomPostsOrPages;
}

const { posts } = Astro.props;
---

<ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
  {
    posts.map((post) => {
      const description = computeDescription(post);
      const external = isExternal(post);
      const postPath = external
        ? extractUrlFromBookmark(post.html)
        : `/posts/${post.slug}`;
      const target = external ? "_blank" : "_self";

      return (
        <li class="shadow-box hoverable-shadow-box flex flex-col">
          <article>
            <a href={postPath} target={target} class="">
              <h2
                class="text-2xl font-semibold mb-1 fancy-link-on-hover"
                transition:name={post.slug}
              >
                {post.title}
              </h2>

              <div class="flex flex-wrap items-center mb-3 gap-x-3 text-base text-gray-500">
                <DateFormatter
                  date={post.published_at}
                  className="inline-block"
                />

                {external ? extractHostFromUrl(postPath) : null}
              </div>

              <p class="block text-gray-500 mb-2">{description}</p>

              <ButtonLink href={postPath} target={target} withArrow={true}>
                Read It
              </ButtonLink>
            </a>
          </article>
        </li>
      );
    })
  }
</ul>
