---
import contentService, {
  extractHostFromUrl,
  extractUrlFromBookmark,
  isExternal,
} from "../lib/ContentService";
import ButtonLink from "./ButtonLink.astro";

const { post } = Astro.props;

const related = await contentService.getRelatedPosts(post);
---

{
  related.length > 0 ? (
    <section class="mb-12">
      <h5 class="text-xl md:text-2xl font-semibold slanted-text mb-5">
        Hopefully At Least Marginally Related Posts
      </h5>

      <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {related.map((relatedPost) => {
          const external = isExternal(relatedPost);
          const url = external
            ? extractUrlFromBookmark(post.html)
            : `/posts/${post.slug}`;

          return (
            <li class="grid">
              <a
                class="shadow-box hoverable-shadow-box"
                href={relatedPost.url}
                data-link-id={`related_post:${relatedPost.slug}`}
              >
                <h6 class="font-light break-words text-md mb-4">
                  {relatedPost.title}
                </h6>

                <ButtonLink
                  classes="text-xs md:text-sm"
                  href={url}
                  target={external ? "_blank" : "_self"}
                  withArrow={true}
                  tag="span"
                >
                  {external ? <>{extractHostFromUrl(url)}</> : "read it"}
                </ButtonLink>
              </a>
            </li>
          );
        })}
      </ul>
    </section>
  ) : null
}
