---
import {
  extractHostFromUrl,
  extractUrlFromBookmark,
  isExternal,
} from "../lib/ContentService";
import type { CustomPostsOrPages } from "../types/types";
import ButtonLink from "./ButtonLink.astro";
import DateFormatter from "./DateFormatter.astro";

interface Props {
  posts: CustomPostsOrPages
}

const { posts } = Astro.props;
---

<ul class="grid sm:grid-cols-2 gap-6">
  {
    posts.map((post) => {
      const external = isExternal(post);
      const postPath = external
        ? extractUrlFromBookmark(post.html)
        : `/scraps/${post.slug}`;
      const target = external ? "_blank" : "_self";

      return (
        <li class="group border border-gray-300 hover:border-purple-500 rounded-md">
            <a href={postPath} target={target} class="block p-6">
              <article class="flex justify-between">
                  <div class="flex-none">
                    <h2 class="group-hover:text-purple-500 text-2xl font-light mb-1" transition:name={post.slug}>
                        {post.title}
                    </h2>

                    <div class="flex flex-wrap items-center gap-x-3 text-base">
                      <DateFormatter
                        date={post.published_at}
                        className="inline-block group-hover:text-purple-500"
                      />

                      {external ? extractHostFromUrl(postPath) : null}
                    </div>
                  </div>
              </article>
          </a>
        </li>
      );
    })
  }
</ul>
