---
import {
  extractHostFromUrl,
  extractUrlFromBookmark,
  isExternal,
} from "../lib/ContentService";
import type { CustomPostsOrPages } from "../types/types";
import DateFormatter from "./DateFormatter.astro";

interface Props {
  posts: CustomPostsOrPages;
}

const { posts } = Astro.props;
---

<ul class="grid sm:grid-cols-2 gap-6">
  {
    posts.map((post) => {
      const external = isExternal(post);
      const postPath = external
        ? extractUrlFromBookmark(post.html)
        : `/scraps/${post.slug}`;
      const target = external ? "_blank" : "_self";

      return (
        <li class="shadow-box no-padding hoverable-shadow-box">
          <a href={postPath} target={target} class="block p-6">
            <article class="flex justify-between">
              <div class="flex-none">
                <h2
                  class="text-2xl font-semibold mb-1 fancy-link-on-hover"
                  transition:name={post.slug}
                >
                  {post.title}
                </h2>

                <div class="flex flex-wrap items-center gap-x-3 text-base">
                  <DateFormatter
                    date={post.published_at}
                    className="inline-block group-hover:text-purple-500"
                  />

                  {external ? extractHostFromUrl(postPath) : null}
                </div>
              </div>
            </article>
          </a>
        </li>
      );
    })
  }
</ul>
